.input-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: $m-size;

  @media (min-width: $desktop-min) {
    flex-direction: row;
    margin-bottom: $l-size;
  }
}

.input-group__item {
  margin-bottom: $s-size;

  @media (min-width: $desktop-min) {
    margin: 0 $s-size 0 0;
  }
}