//COLORS
$dark-grey: #333;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f1f1f1;
$grey: #666;

//FONTS SIZES
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//SIZES
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// SCREENS
$desktop-min : 40rem;